<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Convertisseur de monaie{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Custom CSS -->
            <link href="{{ asset('css/stylish-portfolio.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('monnaie-euro-jaune-icone-8952.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <!-- Custom Theme JavaScript -->
            <script>

            $(function () {
                $("#formConvert").submit(function (event) {
                    event.preventDefault();  // Empêcher le rechargement de la page.
                    $.ajax({
                        url: "{{path("convert")}}",
                        type: "post",
                        data: $("#formConvert").serialize(),
                        error: function () {
                            alert($("#formConvert").serialize().valueOf());
                        },
                        success: function (data) {
                            var jsonReponse=JSON.parse(data);
                            var convertion = jsonReponse.query.results.row.col1;
                            var amont =$('#amount').val();
                            $('#conversion').html(convertion);

                            $('#resultat').val(convertion*amont);

                        }
                    });

                    return false;
                });
            });
            </script>
        {% endblock %}
    </body>
</html>
